{{ define "main" }}

<h1>{{ .Title }}</h1>
{{ .Content }}
{{ $pages := .Pages }}
{{ range $pages.ByPublishDate.Reverse }}
  <h2 class="post-list {{ if ne .Params.show_summary false }}summary{{ end }}">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h2>
  {{ if .Params.img }}
  {{ with .Resources.Match .Params.img }}
    {{ range . }}
      <img width="auto" src="{{ .RelPermalink }}" alt="{{ .Title }}">
    {{ end }}
  {{ end }}
  {{ else }}
  {{ end }}
  {{ if ne .Params.show_summary false }}
    {{ .Summary }}
  {{ end }}
{{ end }}
{{ end }}
