{{ define "main" }}

<h1>{{ .Title }}</h1>
{{ .Content }}
{{ $pages := .Pages }}
{{ range $pages.ByPublishDate }}
   <h2 class="post-list {{ if ne .Params.show_summary false }}summary{{ end }}">
     <a href="{{ .RelPermalink }}">
       {{ .Title }}
     </a>
   </h2>
  {{ if ne .Params.show_summary false }}
    {{ .Summary }}
    <a href="{{ .Permalink }}" class="index-anchor">    
       <div class="panel panel-default">
      
         {{ if .Params.img }}
         {{ with .Resources.Match .Params.img }}
           {{ range . }}
             <img width="100%" src="{{ .RelPermalink }}" alt="{{ .Title }}">
           {{ end }}
         {{ end }}
         {{ else }}
      
         {{ end }}  </a>
  {{ end }}
{{ end }}
{{ end }}
