/* base */
body {
  background-image: url('{{ "img/geometry2.png" | relURL }}');
   background-position: center; 
}

/* anchors */
a,
a:visited {
	background-color: #170600;
  color: #c5c6a2;
  background-image: none;
  text-decoration: underline;
}

a:hover {
	background-color: #370600;
  color: #b7b8b8;
  background-image: none;
  text-decoration: underline;
}

/* navbar */
nav a,
nav a:visited {
  color: #3a3721;
  text-decoration: none;
  background-color: white;
}

/* blockquote */
blockquote {
  font-style: italic;
}

/* post list */
.post-list {
  font-size: 2em; 
}


/* post single */
.post-title {
  margin-bottom: 0.1em; 
}

/* toc */
.toc {
  padding: 1em;
  margin-top: 1em;
}
.toc h2 {
  font-size: 1.3em;
}